body{
    background-color: #ccc;
}
.box{
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 500px;
    padding: 16px;
    left: calc (50% - 250px);
    margin: 100px;
   
}
.btn{
    width: 100%;
}
.pie{
    text-align: center;
}
.pie a{
    display: inline-block;
    font-size: .8rem;
    padding: 1rem;
}
